---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>

<h1 class="mid-page-heading">Problems</h1>

<ul class="post-list">

</ul>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

<div class="fb-comments" data-href="https://scimad.github.io/2020-challenge" data-width="600" data-numposts="5"></div>
